* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: url(./img/bg3.png) no-repeat center center;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-content {
  align-content: center;
}

.btn-reiniciar {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #681861;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: uppercase;
}

td {
  width: 60px;
  height: 60px;
  background-color: #9e779b;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.texto-sucesso {
  color: green;
}

.texto-perigo {
  color: red;
}

.barra {
  border: none;
  font-size: 30px;
  outline: none;
  width: 100%;
  background-size: 100%;
  text-align: center;
  background-color: white;
}
